body, html{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body{
    background: rgb(121, 153, 121);
    background-size: 100%;
    border: 0;
}
a, img{
    max-width: 100%;
    height: auto;
}
.principal{
    width: 960px;
    color: black;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    height: 100px;
    background-color: blue;
}
.cabecalho-logo{
    float: left;

}
.cabecalho-logo a{
    font-size: 50px;
    font-style: italic;
    text-decoration: none;
    color: #000;
    display: block;
    padding: 20px 0 0 0;
}
.pesquisa{
    float: right;
    margin: 40px 0 0 20px;
}

.menu{
    background: rgb(89, 204, 89);
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;/*Tira a bolinha do lado, tira decorações*/
}

.menu li{
    display: inline-block;
}

.menu ul li a{
    display: block;
    color: white;
    padding: 13px 20px;
    text-decoration: none;
}

.html_css{
    padding: 0;
    margin: 0;
    display: inline-block;
    
    height: 400px;
    width: 450px;
}

.corpo{
    position: relative;
    overflow: hidden;
}

.artigo{
    float: left;
}

.artigo, .artigo:before/*artigo,(classe artigos quero que)  /E/  artigo.before(antes do seletor artigo eu quero que).*/{
    width: 70%;
}

.artigo:before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: -1;
    content: '';
}

.espacamento{
    padding: 20px;
}

.barra_lateral{
    float: right;
}

.barra_lateral, barra_lateral:before{
    width: 30%;
}